.banner {
	background-color: rgb(81, 81, 87);
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url("../images/banner.jpg");
	height: 60rem;
	background-size: auto, cover;
	background-repeat: repeat, no-repeat;
	background-attachment: scroll, fixed;
	background-position: 0 0, 50% 50%;
}

.align-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	text-align: center;
}

.heading-banner {
	font-size: 4rem;
	font-weight: normal;
	color: white;
	line-height: 6rem;
	width: 95%;
}

.categories {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.5rem;
	margin-top: 2.5rem;
}

.category {
	cursor: pointer;
	background-color: rgb(17, 17, 17);
	margin: 0;
	color: white;
	text-align: right;
	padding-top: 3rem;
	padding-right: 1.4rem;
	padding-bottom: 1.4rem;
	font-size: 2rem;
}

.section {
	margin-top: 7.5rem;
}

.top-title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 4rem;
}

h2 {
	font-size: 2.5rem;
	font-weight: normal;
	margin-bottom: 1rem;
}

.divider {
	height: 0.05rem;
	width: 4rem;
	background-color: black;
}

.items-row {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.5rem;
}

.product-item {
	margin-bottom: 5rem;
	text-align: center;
	color: rgb(33, 33, 39);
	text-align: center;
	opacity: 0.8;
	cursor: pointer;
	text-decoration: none;
	transition: opacity 0.5s ease 0s;
}

.product-item:hover {
	opacity: 1;
}

.product-image {
	margin-bottom: 1.5rem;
}

.product-image img {
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
}

.product-name {
	font-size: 1.2rem;
	line-height: 1.5rem;
	font-weight: 500;
	margin: 0.4rem 0;
	height: 4rem;
}

.price {
	color: rgb(189, 189, 195);
	font-size: 1.4rem;
	line-height: 1.8rem;
	margin: 0.4rem 0;
}

.margin-section {
	margin-top: 10rem;
	margin-bottom: 7.5rem;
}

.logo-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 1rem;
}

.client-logo {
	max-width: 4.4rem;
	vertical-align: middle;
	display: inline-block;
	cursor: pointer;
}

.subscribe {
	padding: 4rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgb(237, 237, 237);
}

.subscribe-text {
	margin-right: 1.4rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-style: italic;
	color: rgb(145, 145, 151);
	font-weight: 500;
}

.signup-input {
	width: 35%;
	height: 3.3rem;
	margin-left: 1.4rem;
	font-size: 1rem;
	margin-bottom: 0;
	float: left;
	padding-left: 1.4rem;
	border: 1px solid rgb(237, 237, 237);
}

.submit-button {
	width: 15%;
}
